* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; 
    -webkit-box-align: center; 
        -ms-flex-align: center; 
            align-items: center;
}

.content {
    height: 35.5em;
    width: 20em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.circle {
    width: 10em;
    height: 10em;
    border-radius: 50%;
    background-image: conic-gradient(blue 0deg, #ededed 0deg 0deg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.circle::before {
    content: '';
    width: 8.5em;
    height: 8.5em;
    border-radius: 50%;
    background-color: white;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(-360deg);
                transform: rotate(-360deg);
    }
}

@keyframes rotation {
    from {
        -webkit-transform: rotate(-360deg);
                transform: rotate(-360deg);
    }
}

/* Ниже панель управления */

.panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.sectionOne, .sectionTwo, .sectionThree {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0.5em 0;
}

.sectionOne > * + *, .sectionTwo > * + *, .sectionThree > * + * {
    margin-left: 1.5em;
}

.value {
    width: 3.75rem;
    height: 2.5rem;
    border-radius: 3.75rem;  
    text-align: center;
    font-size: 1.25rem;
    padding-left: 5%;
    border: 2px solid black;
}

.switch {
    background-color: #eee;
    width: 3.75em;
    height: 2.5em;
    border-radius: 3.75em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
    cursor: pointer;
}

.switch::before {
    content: '';
    width: 2.1875em;
    height: 2.1875em;
    border-radius: 50%;
    background-color: white;
    margin-left: 0.15625em;
    -webkit-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}

.checkbox:checked + .switch {
    background-color: blue;
}

.checkbox:checked + .switch::before {
    translate: 57.5%;
}

#checkboxOne, #checkboxTwo{
    display: none;
}

@media screen and (orientation: landscape) {
    .content {
        width: 35.5em;
        height: 20em;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
}